################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/BookStore
/BookStore/BookStore/bin/Debug/net6.0
/BookStore/BookStore/obj
